{{#*inline "page"}}

{{>_letter_canvas}}

<div class="portfolio">
  <h2 class="tac mt0 mb4">Selected Work</h2>

  <section class="portfolio-item">
    <div class="portfolio-media">
      <div class="portfolio-media-img" data-selected><img alt="Little Known Goods screenshot by Drew Powers"
          loading="lazy" src="/assets/portfolio/little-known-goods-01.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Little Known Goods screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/little-known-goods-02.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Little Known Goods screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/little-known-goods-03.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Little Known Goods screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/little-known-goods-04.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Little Known Goods screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/little-known-goods-05.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Little Known Goods screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/little-known-goods-06.gif" width="800" height="600"></div>
    </div>
    <div class="portfolio-content">
      <h3 class="portfolio-title">Little Known Goods</h3>
      <h3 class="portfolio-role">UX / Design / Dev</h3>
      <div class="portfolio-text">
        <p>Little Known Goods is a maps, art prints, and goods company and a joint venture between <a
            href="https://hillerypowers.com" target="_blank" rel="noopener noreferrer">Hillery Powers</a> and myself.
          Being mostly an ecommerce site, there are special attention to details in unnoticeable places that have huge
          payoffs. First, carousels can be a point of frustration, especially if they lag or don’t behave as expected.
          And for the image previews on a print site, image quality is everything. The carousel progressively-loads
          larger images as bandwidth allows, and being almost pure CSS, animates&nbsp;performantly&nbsp;[2].</p>
        <p>Other little areas of delight over the site are added, from unexpected card shuffles [1/5] to a click-free
          zoom [6]. This was also a return to form (at least for me), with the entire site being progressively-enhanced,
          framework-free, and works without JavaScript. Also, being my own client, I got to add a detail I’m rather
          proud of that few companies allow: the hidden UX of privacy. When shopping on the site, we don’t load
          analytics, and we do everything possible to minimize third-party data collection. Aside from the ethical part
          of it, tracking and analytics can really hinder UX with slow load&nbsp;times.</p>
        <p>The site will be a work in progress for a while, but I’m still proud of its current state as a reminder you
          can never gloss over the basics. HTML and CSS are the backbone of the web, and you can still build a darn good
          site in 2019 by betting&nbsp;on&nbsp;both.</p>
      </div><a class="portfolio-link" href="https://littleknowngoods.com" target="_blank">Visit</a>
    </div>
  </section>
  <section class="portfolio-item">
    <div class="portfolio-media">
      <div class="portfolio-media-img" data-selected><img alt="Manifold screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/manifold-01.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Manifold screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/manifold-02.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Manifold screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/manifold-03.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Manifold screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/manifold-04.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Manifold screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/manifold-05.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Manifold screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/manifold-06.gif" width="800" height="600"></div>
    </div>
    <div class="portfolio-content">
      <h1 class="portfolio-title">Manifold</h1>
      <h3 class="portfolio-role">Design / Dev</h3>
      <div class="portfolio-text">
        <p>Manifold is creating a SaaS marketplace with Dashboards, APIs, and integration tools for any platform to
          launch their own SaaS marketplace with little time and effort. In a startup you wear many hats, and I had the
          privilege of leading the front-end engineering team, acted as Product Engineer, mentored, and was an
          Engineering People Manager for a stint. <strong>Mostly, my hats were merely a disguise to sneak in animations
            wherever I can</strong>&nbsp;[1/2/6].</p>
        <p>My journey started helping expand the Manifold Dashboard [4], building React interfaces for users to manage
          their services. As part of that, Nicole Tibaldi and I developed an interactive invoice breakdown using React +
          D3.js [3] (that sadly never got shipped). Other big projects included releasing a provider management console
          (pivoted / currently in-progress), various updates to marketing efforts, ongoing management / updates to
          Manifold’s web design system, and the biggest project I worked on: open-source, universal <a
            href="https://github.com/manifoldco/ui" target="_blank" rel="noopener noreferrer">Web Component library</a>
          (and&nbsp;<a href="https://ui.sandbox.manifold.co" target="_blank"
            rel="noopener noreferrer">docs</a>).&nbsp;[5]
        </p>
        <p>My open-source contributions grew here as well, where we open-sourced everything reasonable, like <a
            href="https://github.com/manifoldco/swagger-to-ts" target="_blank"
            rel="noopener noreferrer">swagger-to-ts</a>, <a href="https://github.com/manifoldco/graphql-gen"
            target="_blank" rel="noopener noreferrer">graphql-gen</a>, and <a
            href="https://github.com/manifoldco/react-scroll-agent" target="_blank"
            rel="noopener noreferrer">react-scroll-agent</a>. Manifold is a dreamy engineering culture that cares about
          empathy and <a href="https://blog.powertofly.com/culture-at-manifold-2638668225.html" target="_blank"
            rel="noopener noreferrer">diversity</a>, and I’m lucky to still be a part of&nbsp;it.</p>
      </div><a class="portfolio-link" href="https://manifold.co" target="_blank">Visit</a>
    </div>
  </section>
  <section class="portfolio-item">
    <div class="portfolio-media">
      <div class="portfolio-media-img" data-selected><img alt="Lineage Roasting screenshot by Drew Powers"
          loading="lazy" src="/assets/portfolio/lineage-01.jpg" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Lineage Roasting screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/lineage-02.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Lineage Roasting screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/lineage-03.jpg" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Lineage Roasting screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/lineage-04.jpg" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Lineage Roasting screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/lineage-05.jpg" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Lineage Roasting screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/lineage-06.jpg" width="800" height="600"></div>
    </div>
    <div class="portfolio-content">
      <h1 class="portfolio-title">Lineage Roasting</h1>
      <h3 class="portfolio-role">UX / Design / Dev</h3>
      <div class="portfolio-text">
        <p>I can’t say enough about these lovely people that are changing the world with a roastery. The effort put into
          the quality, craft, and ethical practices to ensure every farmer they source from makes a fair living wage is
          inspiring. And others have taken notice, too—Lineage has won national roasting competitions and usually
          becomes everyone’s favorite roaster after discovering them. I met with Jarret &amp; Justine Johnson, the
          founders, and Ryan Wilcox, co-partner, to design and develop their new&nbsp;site.</p>
        <p>They had a big year ahead of them—opening a new store, expanding operations—and needed to look more
          presentable to business partnerships with updating branding, new photography done by the award-winning <a
            href="https://dylonyork.com" target="_blank" rel="noopener noreferrer">Dylon York</a> [4/5], and a new
          online presence. Their wholesale customers—the backbone of their business—also needed better information
          online. So we set out to keep the core shopping experience but with a more on-brand look. That resulted in my
          editing a video for their homepage with footage they took from trips [1], and helping bring their new color
          system onto the site: (green for dark, rich coffees; yellow for fruity coffees, pink for floral coffees,
          etc.)&nbsp;[2]</p>
        <p>Also central to their pathos was having data for all their coffees, from elevation to origin to notes to
          sometime even the farmer’s name! [2] All of this is editable through their Shopify Dashboard. The site
          leveraged the then-brand-new Shopify GraphQL API, and using React &amp; React Router it can navigate quickly
          and seamlessly after the initial load. As far as client projects go, this is easily one of my all-time
          favorites. And I couldn’t have worked with nicer, more talented&nbsp;people.</p>
      </div><a class="portfolio-link" href="https://lineageroasting.com" target="_blank">Visit</a>
    </div>
  </section>
  <section class="portfolio-item">
    <div class="portfolio-media">
      <div class="selectedimage__3RIuq"><img alt="Mama’s Sauce screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/mamas-sauce-01.jpg" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Mama’s Sauce screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/mamas-sauce-02.jpg" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Mama’s Sauce screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/mamas-sauce-03.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Mama’s Sauce screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/mamas-sauce-04.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Mama’s Sauce screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/mamas-sauce-05.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Mama’s Sauce screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/mamas-sauce-06.jpg" width="800" height="600"></div>
    </div>
    <div class="portfolio-content">
      <h1 class="portfolio-title">Mama’s Sauce</h1>
      <h3 class="portfolio-role">UX / Design / Dev</h3>
      <div class="portfolio-text">
        <p>Who doesn’t love Mama? In 2015, Nick Sambrato contacted me with a better web vision for America’s favorite
          boutique spot printing company (according to an anecdotal poll). The old WordPress blog wasn’t cutting it,
          especially for the sales team that arguably spent more time giving clients free letterpress masterclasses than
          they did actually booking jobs. So after many, many conversations, we set out to build a better
          <strike>mousetrap</strike> quote form. <strong>And I LOVE forms</strong> (I’m not kidding).</p>
        <p>Every part of Mama’s complex process was boiled down into a three-part funnel. First, force clients to browse
          printing to see what spot printing looks like. Second, see estimated cost [3] (this weeded out a large number
          of non-clients). Third, ask serious clients very specific questions about their project in a detailed quote
          form [4] (I love forms. They’re my favorite). This process was a great gut-check for clients to tell if
          they’re ready to submit. If not, they are pointed to the Design-wise™ section [5], an online brain dump of
          pretty much everything their sales team had grown tired of repeating.</p>
        <p>Visually, I pulled from early 20th century typographers and mid-century packaging to create a stripped-down,
          type-centric site that took a backseat to the vibrant photography [2] while subtly hinting at Mama’s top-notch
          precision. The result is a website that “gets out of the way” while you’re swept up by beautiful printing. In
          less artsy news, the site is a Ruby on Rails app with Vue.js front-end, custom CMS backend, and my family’s
          secret <a href="https://medium.com/@drew_powers/optimizing-mamas-sauce-s-beautiful-images-2b1705b5b4"
            target="_blank" rel="noopener noreferrer">image optimization recipe</a> for low data usage.</p>
      </div><a class="portfolio-link" href="https://mamas-sauce.com" target="_blank">Visit</a>
    </div>
  </section>
  <section class="portfolio-item">
    <div class="portfolio-media">
      <div class="selectedimage__3RIuq"><img alt="Real Thread screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/real-thread-01.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Real Thread screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/real-thread-02.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Real Thread screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/real-thread-03.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Real Thread screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/real-thread-04.jpg" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Real Thread screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/real-thread-05.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="Real Thread screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/real-thread-06.gif" width="800" height="600"></div>
    </div>
    <div class="portfolio-content">
      <h1 class="portfolio-title">Real Thread</h1>
      <h3 class="portfolio-role">UX / Dev</h3>
      <div class="portfolio-text">
        <p>Real Thread reached out to Envy Labs in 2015 to alleviate some growing pains. When they approached us, their
          current quote form was nothing more than an email submit form that piled into a sizeable stack of potential
          orders. Employees sometimes took days to reply with an estimate and mocked-up artwork, at which point many
          clients moved on to a quicker printer. Assuming the client stuck around, the approval and revision process
          only exacerbated and dragged out each order, resulting in a slow and frustrating process on both ends.</p>
        <p>After many in-person meetings (local clients are great for that), we examined the entire customer shopping
          experience of getting shirts printed, from different personas ranging from novice “family gathering tee”
          client to professional designer client, making sure the psychology and priorites of their key demos were met.
          The result was a pretty slick automated quote generator [3] powered by Salesforce. Drew Smith (freelancer)
          handled the major design and art direction for the project, while I provided UX consultation [4] and lead
          front-end development on the project.</p>
        <p>Customers could now not only get an instant quote—boosting Real Thread into a new online retail level—but
          thanks to integrating with Salesforce, customers could manage their order through the whole process, and Real
          Thread’s backoffice had visibility into everything [5]. Thanks to Angular and front-end performance
          optimization, the new site performed faster than their old one by a longshot. <strong>The project, completed
            over 4 months, doubled Real Thread’s customer throughput with no work/staff changes on their part,</strong>
          and dramatically improved customer&nbsp;satisfaction.</p>
      </div><a class="portfolio-link" href="https://www.realthread.com" target="_blank">Visit</a>
    </div>
  </section>
  <section class="portfolio-item">
    <div class="portfolio-media">
      <div class="selectedimage__3RIuq"><img alt="RedVector Course Manager screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/course-manager-01.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="RedVector Course Manager screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/course-manager-02.gif" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="RedVector Course Manager screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/course-manager-03.jpg" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="RedVector Course Manager screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/course-manager-04.jpg" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="RedVector Course Manager screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/course-manager-05.jpg" width="800" height="600"></div>
      <div class="portfolio-media-img"><img alt="RedVector Course Manager screenshot by Drew Powers" loading="lazy"
          src="/assets/portfolio/course-manager-06.jpg" width="800" height="600"></div>
    </div>
    <div class="portfolio-content">
      <h1 class="portfolio-title">RedVector Course Manager</h1>
      <h3 class="portfolio-role">UX / Design / Dev</h3>
      <div class="portfolio-text">
        <p>This project’s predecesor, CentreLearn, was a leader in online firefighter &amp; EMT training, managed by
          Envy Labs. But its success was driven by regulation and cost-saving measures rather than customer
          satisfaction. As a government requirement, these public service workers were forced to take these courses to
          maintain certification, and taking them online was just cheaper. <strong>If I had to pick a favorite problem
            to solve on the web, it’s building interfaces for people that hate using interfaces.</strong> Public service
          training is a special beast requiring decades of knowledge and experience to navigate the sea of regulations
          and overlap between local, state, and federal government, and private entities. In 2017, due to a large merger
          and new requirements in combining systems, I got to reimagine everything from scratch through Envy&nbsp;Labs.
        </p>
        <p>I lead the design on the project that would now serve tens of thousands of firefighters, EMTs, and other
          public servants across the country. Ayana Campbell Smith (Envy Labs) aided design, as did Jacob Swanner (Envy
          Labs) with domain knowledge and sanity checks. We ended up building a modular design language [3/4] that could
          be torn apart and rearranged into myriad ways to meet their rapidly-evolving business needs in modern public
          service curriculum. I typeset the UI in TFJ’s Mallory/Mallory Microplus [5], a humanist family that shines
          when it comes to readability. A huge part of this app was readability for the “old dogs” being forced to learn
          “new tricks” (aka the&nbsp;Internet).</p>
        <p>It’s tough to describe this platform in only a few screens, but it’s one of my favorite projects and one near
          and dear to my heart. We ended up handing off the project in 2017 to RedVector’s internal design &amp;
          development teams. We gave them a proven base of success and a language to build their world with in a way
          that meets their business needs while catering to the real people that rely on this for their jobs. As to the
          final end result of the project, I can’t say. But regardless I’m really proud of this project and the thought
          and attention put into&nbsp;it.</p>
      </div>
    </div>
  </section>
</div>

<h1 class="title__1uUdY">About</h1>
<div class="about__1MLLr">
  <div class="photowrapper__2tZva"><img class="photo__2Kh8o" src="/0362ca634a8a98cd4e269b841d487a41.jpg"
      alt="Drew Powers"></div>
  <div class="text__2ia5X">
    <p>I’ve been a builder and creator of the Web since 2001, and I’m fortunate to have turned one of my passions into
      a career. I’m a Tech Lead at <a href="https://manifold.co" target="_blank" rel="noopener noreferrer">Manifold</a>,
      delivering beautiful, functional UIs for a developer marketplace.
      Before that, I was a one-person agency for nearly a decade and delivered web consulting, design, and
      development. From 2013–2017 I consulted, designed, and engineered at an agency called <a
        href="http://madewithenvy.com" target="_blank" rel="noopener noreferrer">Envy&nbsp;Labs</a> . From 2010–2012,
      I helped local businesses succeed at an agency called <a href="http://kmdg.com/" target="_blank"
        rel="noopener noreferrer">KMDG</a>. I speak about stuff I know at conferences like at <a
        href="https://allthingsopen" target="_blank" rel="noopener noreferrer">All Things Open</a> and local meetups,
      and I contribute to <a href="https://github.com/drwpow/" target="_blank" rel="noopener noreferrer">Open
        Source</a>. I’ve supported local creators through <a href="http://orlandocreators.com" target="_blank"
        rel="noopener noreferrer">Orlando Creators</a>, and have mentored developers and designers in partnerships
      with local colleges and various community&nbsp;programs.</p>
    <p>Some things I believe:<br><br>1/ Good ideas should endure. Even if they’re old. Even if they’re not mine. 2/
      Ideas without effort are worthless. 3/ Intentions don’t matter; impacts do. 4/ Everyone tries hard at something;
      start noticing. 5/ Lasting relationships are built on making your intentions clear. 6/ I can always change my
      mind with new information. 7/ Always be&nbsp;kind.<br><br>But enough about me. <a
        href="mailto:drew@pow.rs?subject=Hello%20Stranger">Tell me about you</a>!</p>
  </div>
  <h3 class="elsewhere__1FpxM">Elsewhere</h3>
  <div class="links__2F7MH"><a class="link__ihQX6" href="./blog"><img src="/d07c1f8426718102fec51ee00c82f3da.svg"
        alt="Personal blog of Drew Powers"></a><a class="link__ihQX6" href="https://twitter.com/drwpow" target="_blank"
      rel="noopener noreferrer"><img src="/b0756a984de648366e9ce93f3a9c2a69.svg" alt="Drew Powers on Twitter"></a><a
      class="link__ihQX6" href="https://github.com/drwpow" target="_blank" rel="noopener noreferrer"><img
        src="/008515c76de8940473c7ad27a862c696.svg" alt="Drew Powers on GitHub"></a><a class="link__ihQX6"
      href="https://codepen.io/dangodev/" target="_blank" rel="noopener noreferrer"><img
        src="/90a8457c0d5b33bc18d6924aee4f1265.svg" alt="Drew Powers on CodePen"></a><a class="link__ihQX6"
      href="https://dribbble.com/drewpowers" target="_blank" rel="noopener noreferrer"><img
        src="/5e19c48988e58a590f933a3a9df06181.svg" alt="Drew Powers on Dribbble"></a></div>
</div>

{{/inline}}
{{~> (parent)~}}
