<!doctype html>
<html lang="en-us">

<head>
  <title>{{ title }} // Drew Powers</title>
  <meta charset="utf-8">
  <meta name="description" content="The personal site of Drew Powers" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
  <meta name="theme-color" content="#000" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta http-equiv="x-ua-compatible" content="IE=Edge" />
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss.xml">
  <link rel="alternate" type="application/json" title="JSON Feed 1.0" href="/feed.json">
  <link rel="apple-touch-icon" href="/drew-monogram-black.png" />
  <link rel="icon" type="image/png" href="/drew-monogram-black.png" />
  <link rel="stylesheet" type="text/css" href="/styles.min.css" />
</head>

<body>
  {{> _header}}
  {{~> page}}
  {{> _footer}}
</body>

</html>
